.header {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15), 0 3px 1px 0 rgba(0, 0, 0, 0.15);
}

.header--white {
  background-color: #fff;
}

.header--green {
  @apply bg-gpgreen;
}

.logo {
  @apply object-contain;
  height: 24px;
  z-index: 1;
}

.header--white .logo--white {
  display: none;
}

.header--green .logo--green {
  display: none;
}

.nav-button {
  @apply bg-gporangelight text-white font-bold py-2 px-4 rounded-2xl;
}
